<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
		<!-- Rolling File Appender -->
		<RollingFile name="FileAppender" fileName="logs/mpipoc.log" 
					 filePattern="logs/mpipoc-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
				<TimeBasedTriggeringPolicy interval="7" />
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.navya.mpipoc" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender"/>
        </Logger>
        

        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>
